#css-root {
    .progress {
    font-family: 'Clear Sans', sans-serif;
    width: 100%;
    padding: 0.5rem 0;
    
    .progressbar {
        width: 100%;
        counter-reset: step;
        padding: 0.5rem 0;

        li {
        list-style-type: none;
        width: 33%;
        float: left;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        color: #7d7d7d;

            a {
                text-decoration: none;
                color: #2B954C;
            }

        }

        li {

            &:before {
            width: 35px;
            height: 35px;
            content: counter(step);
            counter-increment: step;
            line-height: 30px;
            border: 3px solid #7d7d7d;
            display: block;
            text-align: center;
            margin: 0 auto 10px auto;
            border-radius: 50%;
            background-color: white;
            }
            &.completed:before {
                background-color: #2B954C;
                color: white;
            }
        }
         
        li:after {
            width: 100%;
            height: 3px;
            content: '';
            position: absolute;
            background-color: #7d7d7d;
            top: 15px;
            left: -50%;
            z-index: -1;
        }
        li:first-child:after {
            content: none;
        }
        li.active {
            color: green;
            &.no-link {
                color: #7d7d7d
            }
        }
        li.active:before {
            border-color: #2B954C;
        }
        li.active + li:after {
            background-color: #2B954C;
        }
    }
}

}

