#css-root {

    .paper {
        position: relative !important;
        box-shadow: 3px 3px 5px 3px #BBBBB9;
        padding: 2rem !important;

        p {
            font-family: Arial, Helvetica, sans-serif !important;
            font-size: 14px !important;
            line-height: 18px !important;
            margin: 0;
        }

        h1, h2, h3, h4 {
                font-size: 20px !important;
                line-height: 20px !important;
                margin: 24px 0;
            }

        > div {
            clear: both !important;
            width: 100% !important;
            &.right {
                text-align: right !important;
            }
        }

        p.right {
            text-align: right !important;
        }

        .sender {
            color: #8B8B8B !important;
            font-size: 12px !important;
        }
    }

    @media screen and (max-width: 40em) {
        .paper {
            padding:1rem !important;
        }
    }
}

@media print {
        body, #toolbar, #header-container, #top-bar-line {
            visibility: hidden;
            padding: 0 !important;
            margin: 0 !important
        }
        #toolbar, #header-container, .footer-container, .white-container, #top-bar-line {
            display: none !important;
        }

        section {
            width: 100% !important;
            padding: 0 !important;
        }
        .paper {
            width: 100%;
            box-shadow: none !important;
            display: block;

            p {
                font-size: 14px !important;
                line-height: 18px !important;
                margin: 0;

                &.sender {
                    font-size: 12px !important;
                }
            }

            h1, h2, h3, h4 {
                font-weight: bold !important;
                font-size: 20px;
                line-height: 20px;
                margin: 6px 0;
            }        
        }
}