#css-root {

    .paper {
    position: relative;
    box-shadow: 3px 3px 5px 3px #BBBBB9;
    padding: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

    > div {
        clear: both;
        width: 100%;
        &.right {
            text-align: right;
        }
    }

    h1 {
            line-height: 3rem;
        }

    p.right {
        text-align: right;
    }



    .sender {
        color: #8B8B8B;
        font-size: 12px;
    }

    }

    @media screen and (max-width: 40em) {
        .paper {
            padding:1rem !important;
        }
    }
}

@media print {
        body, #toolbar, #header-container, #top-bar-line {
            visibility: hidden;
            padding: 0 !important;
            margin: 0 !important
        }
        #toolbar, #header-container, #footer-container, #top-bar-line {
            display: none;
        }

        section {
            width: 100% !important;
            padding: 0;
        }
        .paper {
            width: 100%;
            box-shadow: none !important;
            display: block !important;

            p {
                font-size: 14px;
                line-height: 1rem;

                &.sender {
                    font-size: 12px;
                }
            }

            h1, h2, h3, h4 {
                font-weight: bold;
            }
        
        }
}