


.paper {
  position: relative;
  box-shadow: 3px 3px 5px 3px #BBBBB9;
  margin: 1rem;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;

  > div {
      clear: both;
      width: 100%;
      &.right {
          text-align: right;
      }
  }

  p.right {
      text-align: right;
  }



  .sender {
      color: #8B8B8B;
      font-size: 12px;
  }

}

@media print {
    body {
        visibility: hidden;
    }

    section {
        width: 100% !important;
    }
    .paper {
        width: 100%;
        box-shadow: none;
        display: block !important;
    }
}