
@font-face {
  font-family: 'Clear Sans';
  src: url('./fonts/clearsans/EOT/ClearSans-Bold.eot');
  src: url('./fonts/clearsans/EOT/ClearSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('./fonts/clearsans/WOFF/ClearSans-Bold.woff') format('woff'),
       url('./fonts/clearsans/TTF/ClearSans-Bold.ttf') format('truetype'),
       url('./fonts/clearsans/SVG/ClearSans-Bold.svg') format('svg');
  font-weight: bold;
}